### CSC 373 / 673: Assignment 4
#### Author: Ruiwen Yang, Jiayi Zhou, Yi Zhu

#### Project Task
In the project, we want to organize a portfolio of energy companies. Our task is mainly about twelve renewable energy companies, but we also include five fossil fuel companies. Our list of twelve renewable energy companies is based on the article: https://simplywall.st/markets/us/utilities/renewable-energy. We add them because we think fossil fuel companies will have different trends compared to renewable energy; if we want to reduce the risk of our portfolio, adding fossil fuel companies can be a good option.

In [11]:
import pandas_datareader as data
import datetime as dt
import pandas as pd
import matplotlib.pyplot as plt
import my_utils
import clustering as clusterer
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler
from matplotlib import pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn.cluster import MiniBatchKMeans
from sklearn.cluster import BisectingKMeans
import yellowbrick
from yellowbrick.cluster import KElbowVisualizer
from yellowbrick.cluster import SilhouetteVisualizer
from yellowbrick.cluster import InterclusterDistance
from yellowbrick.model_selection import LearningCurve
from sklearn.manifold import TSNE
import seaborn as sns
%matplotlib inline

In [12]:
data_source = 'yahoo'
start_date = '2016-01-01'
end_date = dt.date.today()
#Ormat Technologies
ORA = data.DataReader('ORA', data_source, start_date, end_date)
#Montauk Renewables
MNTK = data.DataReader('MNTK', data_source, start_date, end_date)
#Vistra Corp
VST = data.DataReader('VST', data_source, start_date, end_date)
#The AES Corporation
AES = data.DataReader('AES', data_source, start_date, end_date)
#Altus Power
AMPS = data.DataReader('AMPS', data_source, start_date, end_date)
#VivoPower International PLC
VVPR = data.DataReader('VVPR', data_source, start_date, end_date)
#Clearway Energy Inc
CWEN = data.DataReader('CWEN', data_source, start_date, end_date)
#Sunnova Energy International Inc
NOVA = data.DataReader('NOVA', data_source, start_date, end_date)
#Atlantica Sustainable Infrastructure plc
AY = data.DataReader('AY', data_source, start_date, end_date)
#ReNew Energy Global Plc
RNW = data.DataReader('RNW', data_source, start_date, end_date)
#Azure Power Global Limited
AZRE = data.DataReader('AZRE', data_source, start_date, end_date)
#Eco Wave Power Global AB (publ)
WAVE = data.DataReader('WAVE', data_source, start_date, end_date)
#Ellomay Capital Ltd.
ELLO = data.DataReader('ELLO', data_source, start_date, end_date)
# fossil fuel companies
#Ranger Oil Corporation
ROCC = data.DataReader('ROCC', data_source, start_date, end_date)
#Ormat Technologies, Inc
ORA = data.DataReader('ORA', data_source, start_date, end_date)
#NRG Energy, Inc
NRG = data.DataReader('NRG', data_source, start_date, end_date)
#Thermon Group Holdings, Inc
THR = data.DataReader('THR', data_source, start_date, end_date)
#USA Compression Partners, LP
USAC = data.DataReader('USAC', data_source, start_date, end_date)

In [13]:
df = pd.concat([ORA, MNTK, VST, AES, AMPS,VVPR,CWEN,NOVA,AY,RNW,AZRE,WAVE,ELLO], axis=1)
print(df.columns)

Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close', 'High', 'Low',
       'Open', 'Close', 'Volume', 'Adj Close', 'High', 'Low', 'Open', 'Close',
       'Volume', 'Adj Close', 'High', 'Low', 'Open', 'Close', 'Volume',
       'Adj Close', 'High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close',
       'High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close', 'High', 'Low',
       'Open', 'Close', 'Volume', 'Adj Close', 'High', 'Low', 'Open', 'Close',
       'Volume', 'Adj Close', 'High', 'Low', 'Open', 'Close', 'Volume',
       'Adj Close', 'High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close',
       'High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close', 'High', 'Low',
       'Open', 'Close', 'Volume', 'Adj Close', 'High', 'Low', 'Open', 'Close',
       'Volume', 'Adj Close'],
      dtype='object')

In [14]:
labels = ['ORA','MNTK','VST','AES','AMPS','VVPR','CWEN','NOVA','AY','RNW','WAVE','ELLO']

In [19]:
df2 = df.set_axis(['High1','Low1', 'Open1', 'Close1','Volume1','Adj Close1','High2','Low2', 'Open2', 'Close2','Volume2','Adj Close2','High3','Low3', 'Open3', 'Close3','Volume3','Adj Close3','High4','Low4', 'Open4', 'Close4','Volume4','Adj Close4','High5','Low5', 'Open5', 'Close5','Volume5','Adj Close5','High6','Low6', 'Open6', 'Close6','Volume6','Adj Close6','High7','Low7', 'Open7', 'Close7','Volume7','Adj Close7','High8','Low8', 'Open8', 'Close8','Volume8','Adj Close8','High9','Low9', 'Open9', 'Close9','Volume9','Adj Close9','High10','Low10', 'Open10', 'Close10','Volume10','Adj Close10','High11','Low11', 'Open11', 'Close11','Volume11','Adj Close11','High12','Low12', 'Open12', 'Close12','Volume12','Adj Close12','High13','Low13', 'Open13', 'Close13','Volume13','Adj Close13'], axis=1, inplace=False)

In [20]:
# define functions to prepare animal data for clustering
def adjust_feature_types(dataset):
    # convert numeric features into float64
    numeric_columns = dataset.select_dtypes('number').columns
    for column in numeric_columns:
        dataset = dataset.astype({column: 'float64'})
    # convert object features into categorical
    obj_cols = dataset.select_dtypes('object').columns
    for column in obj_cols:
        dataset = dataset.astype({column: 'category'})
    # apply one hot encoding for animal species and commodity
    dataset = my_utils.encode_features(dataset)     
    return dataset

In [31]:
import my_utils
from sklearn.decomposition import PCA

def prepare_data(dataset):
    dataset = adjust_feature_types(dataset)
    
    return dataset

def clean_data(data):
    origlen = data.shape[0]
    print("Original number of instances is ", origlen)
    data = my_utils.remove_outliers(data, num_std=5)
    print("Number of removed outliers further than 5 standard deviation from the mean is ",(origlen-data.shape[0]))
    data = data.drop_duplicates()
    print("Number of removed duplicated instances is ",(origlen-data.shape[0]))
    data = my_utils.remove_miss_columns(data)
    print("Number of values with NA being interpolated is ",data.isna().sum().sum())
    data = data.interpolate('linear')
    return data
    
class Preprocessor:
    # initialize constructors
    def __init__(self):
    # For instance operations
        # parameter for remove outliers
        self.feature_means = None
        self.feature_std = None
    
    # For feature operations
        # parameter for selected features
        self.selected_features = None
        # parameter for kselected features
        self.kselected_features = None
    
    # For value operations
        # parameter for scale values
        self.scaler = preprocessing.StandardScaler()
        self.pca = PCA(n_components = 2)
    
    # fit dataset and store constructor objects
    def fit(self, data, X_clf, Y_clf, k, flags):
        self.selected_features = my_utils.basic_features_selection(data).columns
        numeric_columns = data[self.selected_features].select_dtypes('float64').columns
        self.scaler = self.scaler.fit(data[numeric_columns])
        if flags[0]==1:
            self.kselected_features = my_utils.k_features_selection(data,X_clf,Y_clf,k).columns
        if flags[1]==1:
            self.pca = self.pca.fit(data[self.selected_features])
        
    # transform dataset with flags 
    def transform(self, data, flags):
        data = data[self.selected_features]
        numeric_columns = data.select_dtypes('float64').columns
        data = data.copy()
        data[numeric_columns] = self.scaler.transform(data[numeric_columns])
        kbestdata = pd.DataFrame()
        pcadata = pd.DataFrame()
        if flags[0]==1:
            kbestdata = data[self.kselected_features]
        if flags[1]==1:
            pcadata = self.pca.transform(data)
        return data, kbestdata, pcadata

In [27]:
dataset = prepare_data(df2)
print(dataset.columns)
flags = [0,1]

# do basic cleaning on the dataset
dataset = clean_data(dataset)

# instantiate Preprocessor class
preprocessor = Preprocessor()

# fit the dataset and transform
preprocessor.fit(dataset,None,None,0,flags)
data, kbestdata, pcadata = preprocessor.transform(dataset,flags)

Index(['High1', 'Low1', 'Open1', 'Close1', 'Volume1', 'Adj Close1', 'High2',
       'Low2', 'Open2', 'Close2', 'Volume2', 'Adj Close2', 'High3', 'Low3',
       'Open3', 'Close3', 'Volume3', 'Adj Close3', 'High4', 'Low4', 'Open4',
       'Close4', 'Volume4', 'Adj Close4', 'High5', 'Low5', 'Open5', 'Close5',
       'Volume5', 'Adj Close5', 'High6', 'Low6', 'Open6', 'Close6', 'Volume6',
       'Adj Close6', 'High7', 'Low7', 'Open7', 'Close7', 'Volume7',
       'Adj Close7', 'High8', 'Low8', 'Open8', 'Close8', 'Volume8',
       'Adj Close8', 'High9', 'Low9', 'Open9', 'Close9', 'Volume9',
       'Adj Close9', 'High10', 'Low10', 'Open10', 'Close10', 'Volume10',
       'Adj Close10', 'High11', 'Low11', 'Open11', 'Close11', 'Volume11',
       'Adj Close11', 'High12', 'Low12', 'Open12', 'Close12', 'Volume12',
       'Adj Close12', 'High13', 'Low13', 'Open13', 'Close13', 'Volume13',
       'Adj Close13'],
      dtype='object')
Original number of instances is  1725
Number of removed outliers further than 7 standard deviation from the mean is  1397
Number of removed duplicated instances is  1397
Number of values with NA being interpolated is  0

In [36]:
data.shape

(328, 26)

In [38]:
data.head()

,High1,Volume1,High2,Volume2,High3,Volume3,High4,Volume4,High5,Volume5,...,High9,Volume9,High10,Volume10,High11,Volume11,High12,Volume12,High13,Volume13
Date,,,,,,,,,,,,,,,,,,,,,
2021-07-01,-0.914425,-0.308110,-1.387191,-0.683305,-1.260783,-0.324191,1.475940,-0.667879,0.363923,-0.994569,...,0.844598,-0.472524,1.409164,-0.879394,1.691564,-0.295883,4.321024,3.646284,1.284563,1.580122
2021-07-06,-1.084119,-0.161184,-1.484413,-0.723592,-1.239432,0.488350,1.380511,-0.947914,0.358200,-1.008901,...,1.090795,-0.697455,1.353711,-1.023265,1.760297,-0.085782,6.375461,9.436822,1.401762,0.295484
2021-07-07,-1.066565,-0.407582,-1.520953,-0.603332,-1.041453,2.979043,1.318762,-1.285036,0.335304,-1.016158,...,1.161541,0.076385,1.353711,-0.914688,1.442509,-0.065971,5.100747,1.914109,1.128299,-0.227887
2021-07-08,-1.118058,-0.128787,-1.609040,-0.639410,-1.223905,1.314301,1.184038,0.130427,0.346752,-1.014162,...,0.912515,-0.418365,1.314894,-1.020692,1.473237,-0.136613,4.866830,3.994090,0.996075,0.438222
2021-07-09,-1.088800,-0.857029,-1.527478,-0.708259,-1.027867,0.027247,1.150357,0.385179,0.381095,-0.994569,...,0.782341,-1.127800,1.329451,-0.899615,1.610702,-0.392853,3.913641,0.683074,1.191406,0.628538

### Next Step
Based on our task, we plan to use data to perform clustering, association analysis, and prediction. Clustering is used to cluster the stocks to see which stocks are closer to each other. Association analysis is used to discover relationships between stocks and give recommendations based on the relationships. Prediction is used to predict the stock's future performance for a certain period. Based on the result of the three tasks, we will give suggestions for the portfolio.
In our task, there are a few challenges. First, for our prediction task, we will use today as the cutoff of training data and test data to have test data to test our prediction. The test data will have the stock price from 11/9/2022 to 12/2/2022. We will only perform analysis on historical data so that we can test our model accuracy in a completely independent dataset. The second one is feature engineering because our analysis can only build models for some past price values. The value of stock price has a high correlation for dates close to each other. To reduce correlation, we will aggregate the data in financial measures and create features such as seven-day and ten-day averages. So in a new data frame, each row will have each company, whether they are a renewable energy company, and their aggregate features. We may add new features in the future process.